<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gotta catch 'em all</title>
</head>
<body>
    <h1>Pokedex</h1>
    <p>A High Tech Encyclopedia for Pokemon!</p>


    <a href="/pokedex">Pokemon You've Seen!</a>
    
</body>
</html>